html, body {
    height: 80%;   
    
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #7AB2B2;
}

h1{
 font-size: 50px;
}

h2{
  font-size: 30px;
}

p{
    font-size: 30px;
}

input{
    font-size: 30px;
}


